<br /><br />
<div class="flexcontainer2">
  <div class="btn-group">
    <div class="width-lists">
    <p>List of projects</p>
    <% projects.forEach(function(project) { %>
    <form action="<%= project.url %>">
      <button
        type="submit"
        onclick="parent.open='<%= projects.url %>'"
        value="<%= project.title%>">
        <%= project.title%>
      </button>
    </form>
    <% }); %>
  </div>
  </div>
  <div class="btn-group">
    <div class="width-lists">
      <p>List of scientific output</p>
      <% scientificOutput.forEach(function(output) { %>
      <form action="<%= output.url %>">
          <button
              type="submit"
              onclick="parent.open='<%= output.url %>'"
              value="<%= output.title%>">
              <%= output.title%>
          </button>
      </form>
      <% }); %>
    </div>
  </div>
  <div class="btn-group">
    <div class="width-lists">
      <p>List of Areas of Expertice</p>
      <% AreasOfExpertiseOutput.forEach(function(output) { %>
      <form action="<%= output.url %>">
          <button
              type="submit"
              onclick="parent.open='<%= output.url %>'"
              value="<%= output.title%>">
              <%= output.title%>
          </button>
      </form>
      <% }); %>
    </div>
  </div>

</div>

