<div class="row justify-content-center">
  <div class="card" style="width: 70%">
    <div class="form-row row-eq-spacing">
      <div class="col-8">
        
<% let arrayOfArticleTypes = []; %>
<% let counter = 0; %>
<% let counter2 = 0; %>
<% publicationsOutput.dblpperson.r.forEach(function() { %>
  <% arrayOfArticleTypes.push(Object.getOwnPropertyNames(publicationsOutput.dblpperson.r[counter])); %> 
  <% counter++; %>
<% }); %>


<% let i = 0; %>
<% let x = 0; %>
<% let z = 0; %>
<% let authorCounter = 0; %>
<% let count = 0; %>

<% publicationsOutput.dblpperson.r.forEach(function() { %>
  <% if(arrayOfArticleTypes[i] == 'inproceedings') { %>
    <% authorCounter = 0; %>
    <% publicationsOutput.dblpperson.r[i].inproceedings[0].author.forEach(function() { %>
      <%= publicationsOutput.dblpperson.r[i].inproceedings[0].author[authorCounter]._ %>,
      <% authorCounter++; %>
    <% }); %>
    <br>

    <% count = 0; %>
    <% publicationsOutput.dblpperson.r[i].inproceedings[0].title.forEach(function() { %>
      <%= publicationsOutput.dblpperson.r[i].inproceedings[0].title[count]._ %>
      <% count++; %>
    <% }); %>
    <%= publicationsOutput.dblpperson.r[i].inproceedings[0].title %> <br>
    <%= publicationsOutput.dblpperson.r[i].inproceedings[0].pages %> pages<br>
    <%= publicationsOutput.dblpperson.r[i].inproceedings[0].year %> year <br>
    <%= publicationsOutput.dblpperson.r[i].inproceedings[0].booktitle %> <br>
    <a href="<%=publicationsOutput.dblpperson.r[i].inproceedings[0].ee%>"><%= publicationsOutput.dblpperson.r[i].inproceedings[0].ee %> </a><br>
    <p>-----------------------------------</p>
    <% i++; %>

  <% } else if (arrayOfArticleTypes[i] == 'article') { %>
    <% authorCounter = 0; %>
    <% publicationsOutput.dblpperson.r[i].article[0].author.forEach(function() { %>
      <%= publicationsOutput.dblpperson.r[i].article[0].author[authorCounter]._ %>,
      <% authorCounter++; %>
    <% }); %>
    <br>

      <% count = 0; %>
    <% publicationsOutput.dblpperson.r[i].article[0].title.forEach(function() { %>
      <%= publicationsOutput.dblpperson.r[i].article[0].title[count]._ %>
      <% count++; %>
    <% }); %>
    <%= publicationsOutput.dblpperson.r[i].article[0].title %> <br>
    <%= publicationsOutput.dblpperson.r[i].article[0].pages %> pages, 
    <%= publicationsOutput.dblpperson.r[i].article[0].year %> year, 
    <%= publicationsOutput.dblpperson.r[i].article[0].volume %> volume<br>
    <%= publicationsOutput.dblpperson.r[i].article[0].journal %><br>
    <% count = 0; %>
    <% publicationsOutput.dblpperson.r[i].article[0].ee.forEach(function() { %>
     <a href="<%=publicationsOutput.dblpperson.r[i].article[0].ee[count]%>"><%= publicationsOutput.dblpperson.r[i].article[0].ee[count] %> </a><br>
      <% count++; %>
<% }); %>
    
    <p>--------------------------------------------------------</p>
    <% i++; %>

  <% } else if (arrayOfArticleTypes[i] == 'proceedings') { %>
    <%  %>
    <% authorCounter = 0; %>
    <% publicationsOutput.dblpperson.r[i].proceedings[0].editor.forEach(function() { %>
      <%= publicationsOutput.dblpperson.r[i].proceedings[0].editor[authorCounter]._ %>,
      <% authorCounter++; %>
    <% }); %>
    <br>
    <%= publicationsOutput.dblpperson.r[i].proceedings[0].title %><br>
    <%= publicationsOutput.dblpperson.r[i].proceedings[0].booktitle %><br>
    <%= publicationsOutput.dblpperson.r[i].proceedings[0].year %> year,
    <%= publicationsOutput.dblpperson.r[i].proceedings[0].volume %> volume,
    <%= publicationsOutput.dblpperson.r[i].proceedings[0].publisher %><br>
    <a href="<%= publicationsOutput.dblpperson.r[i].proceedings[0].ee %>"><%= publicationsOutput.dblpperson.r[i].proceedings[0].ee %></a>
    
    <br>
    <p>-----------------------------</p>
    <% i++; %>
  <% } %>
<% }); %>

</div>
</div>
</div>
</div>